.LoginOrRegister {
	border: 3px solid black;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.4fr 2.1fr;
	gap: 0px 0px;
	grid-template-areas:
		"A LoginOrRegister"
		"A LoginOrRegisterComponents";
	width: 60vw;
	height: 80vh;
	border-radius: 20px;
}

.LoginOrRegisterImage {
	grid-area: A;
	border-radius: 20px 0 0 20px;
	/* border: 3px solid blue; */
	background-image: url("./whatsaapImg.jpg");
	background-size: cover;
}

.SignUpOrLoginOption {
	grid-area: LoginOrRegister;
}

.ComponentsOfLoginOrSignUp {
	grid-area: LoginOrRegisterComponents;
}
/* chageLoginOrSIgnup */
.chageLoginOrSIgnup {
	display: flex;
	justify-content: center;
	margin-top: 3vh;
}
